Repository googleapis/java-optimization, pull requests merged in 2022-04, with the labels that each got.

#25 docs: add async api code snippet
  README.md
  samples/install-without-bom/pom.xml
  samples/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
  samples/snippets/src/main/java/com/example/optimizationai/AsyncApi.java
  samples/snippets/src/test/java/com/example/optimizationai/AsyncApiTest.java
Labels: api: cloudoptimization, size: m

#24 docs: add a code snippet for the sync api
  README.md
  samples/install-without-bom/resources/sync_request.textproto
  samples/snapshot/resources/sync_request.textproto
  samples/snippets/pom.xml
  samples/snippets/resources/sync_request.textproto
  samples/snippets/src/main/java/com/example/optimizationai/SyncApi.java
  samples/snippets/src/test/java/com/example/optimizationai/SyncApiTest.java
Labels: automerge, api: cloudoptimization, size: l

#27 samples: add long timeout sample
  README.md
  samples/snippets/src/main/java/com/example/optimizationai/SyncApiWithLongTimeout.java
  samples/snippets/src/test/java/com/example/optimizationai/SyncApiWithLongTimeoutTest.java
Labels: samples, api: cloudoptimization, size: m

#28 docs: add get operation code snippet
  README.md
  samples/snippets/src/main/java/com/example/optimizationai/GetOperation.java
  samples/snippets/src/test/java/com/example/optimizationai/GetOperationTest.java
Labels: api: cloudoptimization, size: m

#38 feat: promote to GA
  .repo-metadata.json
  README.md
Labels: automerge, api: cloudoptimization, size: s
